@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}
tr.header01{
	height: 50px;
	background-color: #3A1078;
}
tr.header02{ /*헤더 하단 여백*/
	height: 40px;
}
td.headertext01{
	width:3%;
	height: 50px;
	font-family :Arial;
	color: #BFACE2;
	text-align: center;
}
td.margin01{
	width: 65%
}
td.margin02{
	width: 0.5%;
}